*{
  font-family: system-ui;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  } 
.background {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Optional transparency */
  backdrop-filter: blur(8px); /* Optional blur to make content area frosted */
}

table, td {
  border: 1px solid black;
  justify-self: center;
  border-collapse: collapse;
  margin: 20px;
}

td{
  padding: 13px;

  
}
.wideCol{
  width: 250px;
}
#tableDiv{
  margin: 20px;
  overflow-x:auto

}

tr:nth-child(even) {background-color: #f2f2f2;}

#form{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 5px solid rgba(225, 225, 225, .2);
  border-radius: 30px;
  justify-self: center;
  justify-content: center;
  text-align: center;
  width: 35%;
  height: 70%;
  margin-top: 3%;
  backdrop-filter: blur(80px);
   background-color: rgba(0, 0, 0, 0.05);
}
#content{
  border-radius: 10px;
}
#updateBtn{
  display: none;
}
#name, #price{
  border-radius: 50px;
  padding: 10px;
  padding-left: 25px;
  font-size: 16px;
  width: 55%;
  margin: 15px;
  margin-left: 25px;
  border: none;
}

textarea {
  max-width: 100%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
}
label{
  font-size: 18px;
}
#nameLabel, #priceLabel{
  margin-right: 40px;
}
#descLabel{
  padding-right: 23px;
}
#categLabel{
  padding-right: 35px;
  padding-left: 10px;
}
#container{
  margin: 22px;
}
#category{
  width: 45%;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
#addBtn, #updateBtn{
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgba(225, 225, 225, .2);
  border-radius: 30px;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  width: 40%;
  background-color: lightgray;
  color: black; 
}
#addBtn:hover {
  background-color: darkgray;
  color: white;
}
#updateBtn:hover{
  background-color: darkgray;
  color: white;
}
#available{
  width: 25px;
  margin: 0;
  margin-left: 10px;
}
#searchDiv{
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-top: 40px;
}
#searchBar, #filterBtn, #categFilter{
  padding: 10px;
  border-radius: 20px;
  border-color: lightgray;
}
#filterBtn{
  font-size: 15px;
  font-weight: 500;
  border: 1px solid rgba(225, 225, 225, .2);
  border-radius: 30px;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  width: 8%;
  color: black; 
  background-color: lightgray;
}
#filterBtn:hover{
  background-color: darkgray;
  color: white;
}

#searchBar{
  width: 25%;
  margin-right: 40px;
}
#msg{
  text-align: center;
}
.actions{
  margin: 5px;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px;
}
.actions:hover{
  background-color: darkgray;
  color: white;
  border: none;
}
